@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #192a51;
  --foreground: #ffffff;
  --primary: #000060;
  --gold: #d4af37;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

.gold-text {
  color: var(--gold);
  text-shadow: 0 0 2px rgba(212, 175, 55, 0.3);
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--gold);
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.dropdown {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.dropdown-trigger:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.hero-carousel {
  height: calc(100vh - 80px);
  min-height: 500px; /* Añadir altura mínima para dispositivos pequeños */
}

.section-title {
  position: relative;
  display: inline-block;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  bottom: -10px;
  left: 20%;
  background-color: var(--gold);
}
