@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 223 100% 19%;
    --card: 0 0% 100%;
    --card-foreground: 223 100% 19%;
    --popover: 0 0% 100%;
    --popover-foreground: 223 100% 19%;
    --primary: 225 100% 19%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 79% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 14% 96%;
    --muted-foreground: 220 8% 46%;
    --accent: 220 14% 96%;
    --accent-foreground: 220 79% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 100% 19%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 225 100% 19%;
    --sidebar-primary: 225 100% 19%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 14% 96%;
    --sidebar-accent-foreground: 225 100% 19%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 225 100% 19%;
  }
  .dark {
    --background: 220 79% 20%;
    --foreground: 0 0% 100%;
    --card: 220 79% 20%;
    --card-foreground: 0 0% 100%;
    --popover: 220 79% 20%;
    --popover-foreground: 0 0% 100%;
    --primary: 225 100% 19%;
    --primary-foreground: 0 0% 100%;
    --secondary: 222 47% 26%;
    --secondary-foreground: 0 0% 100%;
    --muted: 223 47% 11%;
    --muted-foreground: 0 0% 80%;
    --accent: 223 47% 11%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 47% 26%;
    --input: 222 47% 26%;
    --ring: 224 100% 19%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 225 100% 19%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 223 47% 26%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 222 47% 26%;
    --sidebar-ring: 225 70% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
